@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    @apply h-screen py-10 md:py-20 bg-cover bg-fixed overflow-y-scroll bg-gradient-to-r from-violet-500 to-fuchsia-500
}

.app-container {
    @apply bg-white md:w-4/12 w-11/12 mx-auto shadow-lg shadow-slate-100 p-10 rounded-lg border border-slate-100
}

/**
    ADD FORM
*/

.add-form input {
    @apply w-full border-b-2 outline-none py-3 focus:border-blue-400 transition-colors delay-75 ease-in-out mb-8 text-xl
}

/**
    TODO ITEM
*/

.todo-item {
    @apply pb-3 mb-3 border-b border-slate-200 transition-all delay-100 relative
    before:transition-all
    before:ease-in-out
    before:delay-100
    before:content-['']
    hover:before:content-['-'] 
    before:w-0
    hover:before:w-1
    before:h-5
    before:bg-blue-500
    before:absolute
    before:top-1
    before:bottom-0
    before:-left-10
    before:text-transparent
}

.todo-meta {
    @apply  flex justify-between
}

.todo-title {
    @apply text-xl text-slate-600
}

.todo-title .action-btn {
    @apply ml-2
}

.todo-action {
    @apply flex justify-center items-center
}

.action-btn {
    @apply w-4 h-4
}

.btn-remove {
    @apply hover:text-red-400
}

.btn-edit {
    @apply hover:text-blue-400;
}

.btn-icons {
    @apply transition-all ease-in-out delay-100 hover:scale-150
}

.edit-text {
    @apply my-3
}

.edit-text input {
    @apply w-full outline-none border border-blue-100 py-2 px-2
}


.todo-checkbox {
    @apply w-4 h-4 text-blue-600 mr-3 cursor-pointer
}

.todo-done {
    @apply line-through text-slate-200
}